body {
  margin: 0;
  font-family: "Merriweather", serif, "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  margin: 0;
  max-height: 250px;
  overflow-y: auto;
}
h1 {
  font-size: 1.3rem;
}
h2 {
  font-size: 1.1rem;
}
h3 {
  font-size: 1rem;
  text-transform: capitalize;
  margin-top: 0;
}
header {
  background-color: #212121;
  width: 100%;
}
footer {
  margin-top: 5em;
  text-align: center;
  padding: 2em 0;
  width: 100%;
  background-color: #f3f3f3;
}
footer > p {
  font-size: 0.88rem;
  font-family: monospace;
}
.wrapper {
  display: flex;
  padding: 1em 0;
  color: whitesmoke;
  width: 90%;
}
.wrapper > svg {
  width: 30px;
  object-fit: cover;
  fill: whitesmoke;
  margin-right: 1.5em;
}

.list-item {
  display: flex;
  padding: 1em 0;
}

.list-item img {
  display: block;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 2em;
}
main,
.wrapper {
  margin: 0 auto;
  max-width: 768px;
}
main {
  min-height: 100vh;
  width: 100%;
}
.radio-btns {
  display: flex;
  margin: 0.5em 0;
  padding: 1em 0;
}
.radio-btns > label,
.radio-btns input[type="radio"] {
  margin-right: 0.7em;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem auto;
  margin: 0 auto 5rem auto;
  min-height: 100vh;
  width: 90%;
}
.form * {
  letter-spacing: 1.2px;
}

.form li {
  list-style-type: none;
  /* width: 100%; */
  text-align: left;
  margin-top: 0.5em;
  padding: 0.2em 1em;
  border-bottom: 1px solid #d9d9d9;
}
.form a {
  text-decoration: none;
  color: #212121;
}
.form a:hover,
a:active {
  color: rgb(119, 112, 112);
}
.form__title {
  padding: 2rem 0;
  margin-top: 4rem;
  text-align: center;
}
.form input[type="text"],
.form > ul {
  transition: all 0.4s ease-in-out;
  width: 100%;
  background-color: #fefefe;
}
.form ul {
  padding: 0.5em 0;
}
.form input[type="text"] {
  outline: 0;
  font-size: 1rem;
  border-radius: 3px;
  padding: 1rem;
  box-sizing: border-box;
  appearance: none;
  border: 1px solid #a3a3a3;
}

.text-label {
  display: none;
  margin-bottom: 1.5rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .form {
    width: 70%;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}
